html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.header {
    color: #fff;
    position: fixed;
    z-index: 2;
}

.scene {
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.scene-up-left {
    background-color: red;
}

.scene-down {
    background-image: url('img/frame1.gif');
}

.scene-left-right {
    background-color: green;
}

.scene-up-right {
    background-color: yellow;
}