html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    max-width: 600px;
}

.header {
    color: #fff;
    position: fixed;
    text-align: center;
    text-shadow: 2px 2px black;
    width: 100%;
    z-index: 2;
}

.scene {
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.scene-up-left {
    background-image: url('img/frame2.gif');
}

.scene-down {
    background-image: url('img/frame1.gif');
}

.scene-left-right {
    background-image: url('img/frame4.gif');
}

.scene-up-right {
    background-image: url('img/frame0.gif');
}

.button-container {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.button-direction {
    border: none;
    color: red;
    padding: 0;
    background: transparent;
    margin: 2px;
}

.button-direction:active {
    filter: hue-rotate(60deg);
}